h1, h2
{
    font-size: 40px !important;
    padding-left: 50px;
    color: grey !important;
}
.outerSlide-box
{
    border: 3px solid lightblue;
    box-shadow: 1px 1px 3px lightblue;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-color: aliceblue;
    margin-top: 27px;
    float: right;
}
#add-new-btn
{   
    cursor: pointer;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
/* #add-new-btn:hover + #createNewCollection
{
    animation-name: showWords;
    animation-duration: 10s;
}
@keyframes showWords 
{
    from 
    {
        opacity: 100%;
    }
    to 
    {
        width: 0px;
    }
} */
#createNewCollection
{
    cursor: pointer;
    display: none;
    height: 80%;
    overflow: hidden;
}
.buttonClicked
{
    border: 3px solid lightblue;
    box-shadow: 1px 1px 3px lightblue;
    transition: transform 0.2s;
    transform: scale(0.92);
}
/* @keyframes buttonClicking 
{
    from { transform: scale(1);}
    to { transform: scale(0.9);}
} */
#all-collections
{
    border-radius: 15px;
    padding: 5px 0px 25px 0px;
    background-color: rgba(128, 128, 128, 0.404);
    width: 90%;
    min-height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
.folderCont
{
    cursor: pointer;
    margin: 20px 0px 0px 0px;
    border-radius: 20px;
    background-color: rgba(212, 189, 147, 0.3);
    height: 160px;
    width: 180px;
    transition: transform .4s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    box-shadow: 2px 3px 5px black;
}
.folderCont:hover{
    transform: scale(1.2);
}
.folder-icon
{
    border: 2px solid rgba(212, 189, 147, 0.3);
    box-shadow: 2px 3px 5px black;
    border-radius: 20px;
    opacity: 65%;
    width: 75%;
    height: 60%;
}
.folder-name
{
    text-align: center;
    font-weight: bold;
    width: 98%;
    height: 22%;
}